<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/cache
		http://www.springframework.org/schema/cache/spring-cache.xsd"
       default-lazy-init="true">


    <cache:annotation-driven/>

    <bean id="cacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">
        <constructor-arg name="redisOperations" ref="redisTemplate" />
        <!--<property name="caches">
            <set>
                <bean class="com.bobo.mall.service.redis.RedisCache">
                    <property name="redisTemplate" ref="redisTemplate"/>
                    <property name="name" value="default"/>
                </bean>
                <bean class="com.bobo.mall.service.redis.RedisCache">
                    <property name="redisTemplate" ref="redisTemplate"/>
                    <property name="name" value="commonCache"/>
                </bean>
            </set>
        </property>-->


    </bean>


</beans>